<main [ngClass]="getBackground()" class="lg:pt-5 flex flex-col">
  <nav class="flex h-24 items-center">
    <div class="basis-1/6 lg:pl-20 pl-10">
      <a routerLink="home"><img src="../assets/shared/logo.svg" alt="" /></a>
    </div>
    <div class="basis-2/6 preload"></div>
    <div class="basis-3/6 pr-10 z-10 md:hidden">
      <img
        src="{{ navIcon }}"
        alt=""
        class="ml-auto"
        (click)="openCloseNav()"
      />
    </div>
    <ul
      class="ml-auto gap-8 lg:basis-3/6 md:basis-4/6 h-full items-center justify-center lg:pr-12 flex main-ul nav-text uppercase cursor-pointer"
    >
      <li routerLink="home" routerLinkActive="active-link">
        <span class="font-bold">00</span> home
      </li>
      <li routerLink="destination" routerLinkActive="active-link">
        <span class="font-bold">01</span> destination
      </li>
      <li routerLink="crew" routerLinkActive="active-link">
        <span class="font-bold">02</span> crew
      </li>
      <li routerLink="tech" routerLinkActive="active-link">
        <span class="font-bold">03</span> technology
      </li>
    </ul>
    <ul
      class="sidepanel nav-text uppercase cursor-pointer md:hidden"
      [ngClass]="{ open: navIsOpen }"
    >
      <li routerLink="home" class="ml-8 mt-20">
        <span class="font-bold">00</span> home
      </li>
      <li routerLink="destination" class="ml-8 my-10">
        <span class="font-bold">01</span> destination
      </li>
      <li routerLink="crew" class="ml-8 my-10">
        <span class="font-bold">02</span> crew
      </li>
      <li routerLink="tech" class="ml-8 my-10">
        <span class="font-bold">03</span> technology
      </li>
    </ul>
  </nav>
  <div class="test">
    <router-outlet></router-outlet>
  </div>
</main>
<div id="preloadedImages"></div>
