<main
  class="flex flex-col lg:flex-row text-center justify-center lg:gap-64 lg:mt-44 md:mx-32 mx-8 gap-16 mt-16"
>
  <section class="basis-2/5">
    <h5 class="uppercase">So, you want to travel to</h5>
    <h1 class="uppercase my-6">Space</h1>
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </section>
  <section class="basis-2/5 flex justify-center pt-12 lg:pt-0">
    <button
      class="explore-button rounded-full mt-auto"
      routerLink="/destination"
    >
      <h4 class="uppercase">Explore</h4>
    </button>
  </section>
</main>
